@import '../../utils/style/media-queries';

.main.main_accommodation {
  max-width: 1440px;
  min-height: 1050px;
  padding: 0 5.556rem;
  @include mobile {
    min-height: 800px;
    padding: 0 1rem;
  }
  .accommodation-details {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    &__header {
      width: 100%;
      display: flex;
      margin-bottom: 1.333rem;
      @include mobile {
        flex-direction: column;
      }
      &__left {
        flex-basis: 50%;
        @include mobile {
          margin-bottom: 0.889rem;
        }
      }
      &__right {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        @include mobile {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .host-profile {
            align-items: center;
            order: 2;
          }
          .rating {
            display: flex;
            order: 1;
          }
        }
      }
      &__title {
        font-weight: 500;
        margin-bottom: 0.25rem;
        @include mobile {
          font-size: 1rem;
          margin-bottom: 0.444rem;
        }
      }
      &__location {
        @include mobile {
          font-size: 0.778rem;
        }
      }
    }
    .accommodation-details__content {
      display: flex;
      & .accordion {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        @include mobile {
          flex-direction: column;
        }
        & .panel {
          width: 47%;
          @include mobile {
            width: 100%;
          }
        }
      }
    }
  }
}
