@import '../../utils/style/media-queries';

.main.main_home {
  padding: 0 5.556rem;
  @include mobile {
    padding: 0 1rem;
  }
  .main__banner {
    width: 100%;
    height: 223px;
    position: relative;
    margin-bottom: 2.389rem;
    background-image: url('../../assets/img_banner_home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    @include mobile {
      height: 111px;
      margin-bottom: 1.222rem;
      border-radius: var(--border-radius);
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 25px;
      z-index: 2;
      @include mobile {
        border-radius: var(--border-radius);
      }
    }
    &__title {
      text-align: center;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      @include mobile {
        width: 70%;
        font-size: 1.333rem;
        font-weight: 500;
        text-align: start;
        left: 45%;
      }
    }
  }
  .accommodations {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.389rem;
    background-color: var(--light-grey);
    border-radius: 25px;
    @include mobile {
      background-color: var(--secondary);
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      gap: 2.25rem;
      margin: 2.25rem;
      @include mobile {
        gap: 1.222rem;
        margin: 0;
      }
    }
    &__item {
      flex-basis: 31%;
      aspect-ratio: 1 / 1;
      @include mobile {
        flex-basis: 100%;
        height: 255px;
      }
      &:last-child {
        margin-right: auto;
      }
    }
  }
}
