@import '../../utils/style/media-queries';

.carousel {
  margin-bottom: 2rem;
  &__inner {
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    @include mobile {
      border-radius: var(--border-radius);
    }
    &__slides {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      &.slides__transition {
        transition: all ease 0.5s;
      }
      & .slides__item {
        display: flex;
        position: relative;
        & .slides__content {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
          @include desktop-xl {
            width: 100%;
          }
          & .slides__img {
            @include desktop-xl {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    &__menu {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      background-color: rgba(255, 96, 96, 0.3);
    }
    .menu {
      &__player {
        flex-basis: 15%;
        display: flex;
        justify-content: center;
        @include mobile {
          flex-basis: 25%;
        }
        &__btn {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(5px);
          border: 3px solid var(--secondary);
          -webkit-backdrop-filter: blur(5px);
          border-radius: 50%;
          cursor: pointer;
          .square {
            width: 10px;
            height: 10px;
            background-color: var(--secondary);
          }
          .caret-right {
            width: 0;
            height: 0;
            margin-left: 3px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 10px solid var(--secondary);
          }
        }
      }
      &__indicators {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__dots {
          width: 10px;
          height: 10px;
          background-color: var(--secondary);
          margin: 0 5px;
          cursor: pointer;
          border-radius: 50%;
          &.dots_active {
            background-color: var(--primary);
          }
        }
      }
      &__index {
        flex-basis: 15%;
        display: flex;
        justify-content: center;
        color: var(--secondary);
        @include mobile {
          flex-basis: 25%;
        }
      }
    }
  }
  &__controls {
    /* width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6; */
    &__prev {
      width: 15%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 6;
      background: transparent;
      border: none;
      cursor: pointer;
      &:hover .arrow {
        border-color: var(--secondary);
        transition: all 0.3s ease-in-out;
      }
      .arrow {
        border: solid rgba(255, 255, 255, 0.4);
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 8px;
        transition: all 0.3s ease-in-out;
        &.left {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }
    &__next {
      width: 15%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 6;
      background: transparent;
      border: none;
      cursor: pointer;
      &:hover .arrow {
        border-color: var(--secondary);
        transition: all 0.3s ease-in-out;
      }
      .arrow {
        border: solid rgba(255, 255, 255, 0.4);
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 8px;
        transition: all 0.3s ease-in-out;
        &.right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
    }
  }
}
