@import '../../utils/style/media-queries';

.host-profile {
  display: flex;
  justify-content: flex-end;
  &__name {
    width: 30%;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    @include mobile {
      font-size: 0.667rem;
    }
  }
  &__img {
    width: 64px;
    height: 64px;
    margin-left: 1rem;
    border-radius: 50%;
  }
}
