@import '../../utils/style/media-queries';

.accordion {
  display: flex;
  margin: 0 auto;
  &_vertical {
    flex-direction: column;
  }
  .panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.833rem;
    border-radius: var(--border-radius);
    @include mobile {
      margin-bottom: 1rem;
    }
    &__toggle {
      height: 47px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--secondary);
      text-align: start;
      background-color: var(--primary);
      border: none;
      border-radius: var(--border-radius);
      cursor: pointer;
      z-index: 3;
      @include mobile {
        height: 30px;
      }
      h2 {
        font-size: 1.333rem;
        margin-left: 1rem;
        @include mobile {
          font-size: 0.778rem;
          font-weight: 500;
        }
      }
    }
    &__collapse {
      position: relative;
      top: -10px;
      padding-top: 10px;
      background-color: var(--light-grey);
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      overflow: hidden;
      will-change: height;
      &[aria-hidden='true'] {
        height: 0;
        transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
        & .panel__content {
          opacity: 0;
          transition: opacity 0.3s linear 0.18s;
        }
      }
      &[aria-hidden='false'] {
        height: auto;
        padding: 1.556rem 1rem 0.75rem 1rem;
        transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
        & .panel__content {
          opacity: 1;
          transition: opacity 0.3s linear 0.18s;
        }
      }
      @include mobile {
        font-size: 0.667rem;
      }
    }
  }
}
